@font-face{
    font-family: 'Bevan';
    src: url('../../../public/fonts/Bevan-Regular.ttf') format('truetype');
}
.headerCard{
    font-family: 'Bevan';
    font-size: 0.8rem;
    text-transform: uppercase;
    display: flex;
    color: #FFF;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-bottom: 5vh;

}
.headerCard img{
    position: absolute;
    top:1vh;
    width: 6vw;
    left: 2vw;
}
.submitBtn{
    position: absolute;
    right: 3vw;
    bottom: 4vh;
    width: 25vw;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #308045;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;
}
.submitBtn img{
    width: 6vw;
}